/* CSS-Style für den Hintergrund*/
#backimage{
    width:100%;
    height:400px;
    /*background-size:auto;*/
    background-position:bottom; 
    background-image: url(../pics/keyboard.jpg);
    /*object-fit:scale-down;*/
}
/* Allgemeine Einstellungen für den Body */
body{
    background-color: black;
}
/* CSS-Styles für div-Boxen */
#backmiddle{
    height:250px;
    background-color: #1A1818;
    background-position: bottom;
    top:0%;
    margin: 0px;
/*1A1818*/
}
#footerstyle{
    background-color: black;
    margin-top: 0px;
    height:100px;
}
#codefactory_box{
    position:relative;
    margin-top:200px;
    margin-left:150px;
    width:auto;
    height:auto;
}
#codefac_underbox {
    position:absolute;
    margin-top:0px ;
    margin-left: 150px;
    width:auto;
    height:auto;
}
#codefac_logomiddle{
    position:absolute;
    margin-top:25px ;
    margin-left: 150px;
    width:200px;
    height:200px;
    background-image: url(../pics/devices.png);
    background-size: contain;
    background-repeat: no-repeat;
}