#footerstyle>p{
    color:white;
}p{
    padding-left: 5px;
    margin-top:0px;
}
#backmiddle>p{
    color:black;
   
}
#backimage>p{
    color:white;
}
#codefactory_box{
    color:white;
    font-weight: bold;
}
#codefac_underbox {
    color:white;
    font-weight: bold;
}
#fronttext>p{
    padding-top:0px;
}